﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


a {
	text-decoration: none !important;
	color: #2B2D42;
}

a:hover {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#invoice_id:hover {
	color: black;
}

.dd-menu a:hover {
	color: black;
}

.search-form {
	float: left;
	margin: 8px auto 0;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
}

html, body {
	background: #EEE5E9;
}

header {
	width: 95%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

header ul {
	padding: 1.2em 0 0.5em;
}

header span {
	padding: 0 0 0 0.5em;
}

header span, header i {
	color: #2B2D42;
}

header i:nth-of-type(2) {
	cursor: pointer;
}

.footer-position {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	padding-top: 15px;
	background: #fff;
	box-shadow: 0 6px 18px #ccc;
}

.checked {
	color: orange;
}

/*Index Product*/

.card-product {
	background: -webkit-linear-gradient(135deg, #cc8800 50%, rgba(255, 255, 255, 0.5) 50%);
	background: linear-gradient(-45deg, #cc8800 50%, rgba(255, 255, 255, 0.5) 50%);
}

.info-wrap p {
	color: rgba(255, 255, 255, 0.9);
}

.card-product .action-wrap button {
	border: 1px solid rgba(255, 255, 255, 0.5);
	color: #FFF;
	border-radius: 3px;
	padding: 1em 3em;
	margin: 1em 0 0 0;
	background: none;
	cursor: pointer;
	-webkit-transition: background ease-in .25s;
	transition: background ease-in .25s;
}

.card-product .action-wrap button:hover {
	background: white;
	color: #2B2D42;
}

.card-product .img-wrap {
	border-radius: 3px 3px 0 0;
	overflow: hidden;
	position: relative;
	height: 220px;
	text-align: center;
	padding-top: 1em;
}

.card-product .img-wrap img {
	height: 14em;
}

.card-product .info-wrap {
	overflow: hidden;
	padding: 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	margin-bottom: 2em;
}

/*Show product*/
.card-body button {
	border: 1px solid #cc8800;
	color: #FFF;
	border-radius: 3px;
	padding: 1em 3em;
	margin: 1em 0 0 0;
	background: #cc8800;
	cursor: pointer;
	-webkit-transition: background ease-in .25s;
	transition: background ease-in .25s;
}

.card-body button:hover {
	background: white;
	color: #2B2D42;
}

.gallery-wrap .img-big-wrap {
	position: relative;
	text-align: center;
}

.gallery-wrap .img-big-wrap img {
	height: 100%;
	width: 75%;
	display: inline-block;
	cursor: zoom-in;
}

.gallery-wrap .img-small-wrap .item-gallery {
	width: 60px;
	height: 60px;
	border: 1px solid #ddd;
	margin: 7px 2px;
	display: inline-block;
	overflow: hidden;
}

.gallery-wrap .img-small-wrap {
	text-align: center;
}

.gallery-wrap .img-small-wrap img {
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	border-radius: 4px;
	cursor: zoom-in;
}


.btn-grey {
	background-color: #D8D8D8;
	color: #FFF;
}

.rating-block {
	background-color: #FAFAFA;
	border: 1px solid #EFEFEF;
	padding: 15px 15px 20px 15px;
	border-radius: 3px;
}

.bold {
	font-weight: 700;
}

.padding-bottom-7 {
	padding-bottom: 7px;
}

.review-block {
	background-color: #FAFAFA;
	border: 1px solid #EFEFEF;
	padding: 15px;
	border-radius: 3px;
	margin-bottom: 15px;
}

.review-block-name {
	font-size: 12px;
	margin: 10px 0;
}

.review-block-date {
	font-size: 12px;
}

.review-block-rate {
	font-size: 13px;
	margin-bottom: 15px;
}

.review-block-title {
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
}

.review-block-description {
	font-size: 13px;
}

.send-review-button {
	border: 1px solid #cc8800;
	color: #cc8800;
	border-radius: 3px;
	padding: 1em 3em;
	margin: 1em 0 0 0;
	background: #FFF;
	cursor: pointer;
	-webkit-transition: background ease-in .25s;
	transition: background ease-in .25s;
}

.send-review-button:hover {
	border: 1px solid #cc8800;
	background: #cc8800;
	color: #FFF;
}

.rating_widgets {
    display: flex;
    margin-top: 25px;
}

.rating {
    border: none;
    float: left;
}

.rating > input {
    display: none;
}

.rating > label:before {
    margin: 5px;
    font-size: 24px;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}

.rating > label {
    color: #333;
    float: right;
}

.rating > input:checked ~ label,
.rating:not(:checked),
.rating:not(:checked) {
    color: orange;
}

.rating > input:checked,
.rating > input:checked,
.rating > input:checked ~ label,
.rating > input:checked ~ label {
    color: orange;
}


