﻿@model GammaShop.Models.Review

@{
	ViewBag.Title = "Edit Review";
}

<ol class="breadcrumb">
	<li><h2>@ViewBag.Title</h2></li>
</ol>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Review"))
{
	@Html.HttpMethodOverride(HttpVerbs.Put)
	@Html.HiddenFor(m => m.Id)
	<br />

	@Html.ValidationSummary(false, "", new { @class = "text-danger" })

	<div class="container">
		<div class="row">
			<div class="row">
				@Html.Label("Rating", "Rating: ")
			</div>
			<div class="row">
				<div class="rating_widgets">
					<fieldset class="rating">
						<input type="radio" id="star5" name="Rating" value="5" />
						<label class="full" for="star5" title="Awesome - 5 stars"></label>
						<input type="radio" id="star4" name="Rating" value="4" />
						<label class="full" for="star4" title="Pretty good - 4 stars"></label>
						<input type="radio" id="star3" name="Rating" value="3" />
						<label class="full" for="star3" title="Good - 3 stars"></label>
						<input type="radio" id="star2" name="Rating" value="2" />
						<label class="full" for="star2" title="ok - 2 stars"></label>
						<input type="radio" id="star1" name="Rating" value="1" />
						<label class="full" for="star1" title="Very bad - 1 star"></label>
						@Html.ValidationMessageFor(m => m.Rating, "", new { @class = "text-danger " })
					</fieldset>
				</div>
			</div>
		</div>
		<br />
		<div class="row">
			<div class="row">
				@Html.Label("Comment", "Review: ")
			</div>
			<div class="row">
				@Html.EditorFor(m => m.Comment)
				@Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger " })
			</div>
		</div>
		<br />
		<div class="row">
			<div class="row">
				@Html.Label("Title", "Title: (Optional)")
			</div>
			<div class="row">
				@Html.EditorFor(m => m.Title)
			</div>
		</div>
		<br />
		@Html.Hidden("ListingDate", DateTime.Now, new { @class = "form-control" })
		@Html.HiddenFor(m => m.AuthorId, new { @class = "form-control" })
		@Html.HiddenFor(m => m.ProductId, new { @class = "form-control" })
		<button class="btn btn-success pull-left" type="submit">Edit review</button>
	</div>

}
