﻿@{
	ViewBag.Title = "All users";
}

<ol class="breadcrumb">
	<li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
	<h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@foreach (GammaShop.Models.ApplicationUser user in ViewBag.UsersList)
{
	<div class="panel panel-default">
		@Html.Partial("UserInfo", user)
		<div class="panel-footer">
			<a href="/Users/Edit/@user.Id" class="btn btn-warning">
				<span class="glyphicon glyphicon-pencil"></span>
			</a>
			<a href="/Users/Show/@user.Id" class="btn btn-success" >
				<span class="glyphicon glyphicon-eye-open"></span>
			</a>
		</div>
	</div>

}

