﻿@model GammaShop.Models.ApplicationUser

@{
	ViewBag.Title = "Show user";
}

<ol class="breadcrumb">
	<li><h1>@ViewBag.Title</h1></li>
</ol>

<div class="panel panel-default">
	@Html.Partial("UserInfo", Model)
	<div class="panel-footer">
		@using (Html.BeginForm(actionName: "Delete", controllerName: "Users", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
		{
			@Html.HttpMethodOverride(HttpVerbs.Delete)
			<br />
			if (Model.Id != ViewBag.currentUser)
			{
			<button class="btn btn-danger" type="submit">
				<span class="glyphicon glyphicon-trash"></span>
			</button>
			}
		}
	</div>
</div>
