﻿@{
	ViewBag.Title = "Orders History";
}

<ol class="breadcrumb">
	<li><h3>@ViewBag.Title</h3></li>
</ol>

<table class="table table-striped table-dark">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Date</th>
			<th scope="col">Total</th>
		</tr>
	</thead>
	<tbody>
		@foreach (GammaShop.Models.Invoice invoice in ViewBag.Invoices)
		{
			<tr>
				<th scope="row"><a href="/Invoice/Show/@invoice.Id" id="invoice_id">@invoice.Id</a></th>
				<td>@invoice.RequestingDate</td>
				<td>€@invoice.Bill</td>
			</tr>
		}
	</tbody>
</table>

