﻿@{
	ViewBag.Title = "Shopping Cart";
}


<br />

<div class="container">
	<div class="row">
		<div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th scope="col" class="border-0 bg-light">
								<div class="p-2 px-3 text-uppercase">Product</div>
							</th>
							<th scope="col" class="border-0 bg-light">
								<div class="py-2 text-uppercase">Price</div>
							</th>
							<th scope="col" class="border-0 bg-light">
								<div class="py-2 text-uppercase">Quantity</div>
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (GammaShop.Models.Order order in ViewBag.Orders)
						{
							<tr>
								<th scope="row" class="border-0">
									<div class="p-2">
										<img src="@Url.Content(@order.Product.PicturePath)" alt="" width="70" class="img-fluid rounded shadow-sm">
										<div class="ml-3 d-inline-block align-middle">
											<h5 class="mb-0">
												<a href="/Product/Show/@order.Product.Id" class="text-dark d-inline-block align-middle">
													@order.Product.Title
												</a>
											</h5>
											<span class="text-muted font-weight-normal font-italic d-block">Category: @order.Product.Category.Title</span>
										</div>
									</div>
								</th>
								<td class="border-0 align-middle"><strong>€@order.Product.Price</strong></td>
								<td class="border-0 align-middle"><strong>@order.Quantity</strong></td>
							</tr>
						}
						<tr>
							<td class="text-left"><strong>Total: €@ViewBag.Total</strong></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
