﻿@model GammaShop.Models.Category

@{
	ViewBag.Title = "Edit category";
}

<ol class="breadcrumb">
	<li><h2>@ViewBag.Title</h2></li>
</ol>

@using (Html.BeginForm(actionName: "Edit", controllerName: "Category"))
{
	@Html.HttpMethodOverride(HttpVerbs.Put)
	@Html.HiddenFor(m => m.Id)
	<br />

	@Html.Label("Title", "Category Name")
	<br />

	@Html.EditorFor(m => m.Title)
	@Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger " })
	<br />
	<br />

	<button class="btn btn-sm btn-success" type="submit">Edit category</button>
}
