﻿@{
				/**/

				ViewBag.Title = "All categories";
}

<ol class="breadcrumb">
	<li><h3>@ViewBag.Title</h3></li>
</ol>

@if (TempData.ContainsKey("message"))
{
	<h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@if (User.IsInRole("Administrator"))
{
	<p>
		<a href="/Category/New/" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span></a>
	</p>
}
	

@foreach (GammaShop.Models.Category category in ViewBag.Categories)
{
	<div class="panel panel-default">
		<div class="panel-heading">@category.Title</div>
		<div class="panel-footer">
			<a href="/Category/Edit/@category.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
			@using (Html.BeginForm(actionName: "Delete", controllerName: "Category", method: FormMethod.Post, routeValues: new { id = category.Id }))
			{
				@Html.HttpMethodOverride(HttpVerbs.Delete)
				<br />
				<button class="btn btn-danger" type="submit">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			}
		</div>
	</div>
}