﻿
@model GammaShop.Models.Category

@{
	ViewBag.Titlu = "Add category"; }

<h2>@ViewBag.Titlu</h2>
<br />

<form method="post" action="/Category/New">
	@Html.Label("Title", "Category Name")
	<br />
	@Html.TextBox("Title", null, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger " })
	<br /><br />

	<button class="btn btn-sm btn-success" type="submit">Add category</button>
</form>

