﻿
@model GammaShop.Models.Category

@{
	ViewBag.Title = "Show category";
}

<ol class="breadcrumb">
	<li><h1>@ViewBag.Title</h1></li>
</ol>

<div class="panel panel-default">
	<div class="panel-heading">@Model.Title</div>
	<div class="panel-footer">
		<a class="btn btn-success" href="/Category/Edit/@Model.Id">Edit Category</a>
		<br />
	</div>
</div>


@using (Html.BeginForm(actionName: "Delete", controllerName: "Category", method: FormMethod.Post, routeValues: new { id = @Model.Id }))
{
	@Html.HttpMethodOverride(HttpVerbs.Delete)
	<br />
	<button class="btn btn-success" type="submit">Delete category</button>
}
