﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title Gamma Shop</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
	<!-- Add icon library -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("Gamma Shop", "Index", "Product", new { area = "" }, new { @class = "navbar-brand " })
			</div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Product")</li>
                    <li>
                        <a href="~/Invoice/Cart">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                        </a>
                    </li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li>@Html.ActionLink("All categories", "Index", "Category")</li>
                        <li>@Html.ActionLink("All users", "Index", "Users")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer class="footer-position">
			<p>&copy; @DateTime.Now.Year - Gamma Shop</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
	@Scripts.Render("~/Scripts/Summernote.js")
</body>
</html>
