﻿
@model GammaShop.Models.Product

<div class="panel-heading"><h2>@Model.Title</h2></div>
<div class="panel-body">
	<strong>Price </strong>@Model.Price 
	<br /><strong>Manufacturer </strong>@Model.Manufacturer
	<br /> <i class="glyphicon glyphicon-globe">@Model.Category.Title</i>
</div>