﻿@model GammaShop.Models.ApplicationUser

<div class="panel-heading">Username: @Model.UserName</div>
<div class="panel-body">
	<i class="glyphicon glyphicon-envelope"></i> Email:
	<span class="label label-default">@Model.Email</span>
	<br /><br />
	@if (Model.PhoneNumber != null)
	{
		<i class="glyphicon glyphicon-phone"></i>@:Phone number:<span class="label label-default">@Model.PhoneNumber</span>
	}
</div>
