﻿@model GammaShop.Models.Product

@using (Html.BeginForm(actionName: "Edit", controllerName: "Product", method: FormMethod.Post))
{
    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.Id)
    <br />

    @Html.Label("Title", "Title")
    <br />
    @Html.EditorFor(m => m.Title)
    @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger " })
    <br />
    <br />

    @Html.Label("Description", "Description")
    <br />
    @Html.TextAreaFor(m => m.Description, new { @class = "form-control summernote" })
    @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger " })
    <br />
    <br />

    @Html.Label("Price", "Price")
    <br />
    @Html.EditorFor(m => m.Price)
    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger " })
    <br />
    <br />

    @Html.Label("Manufacturer", "Manufacturer")
    <br />
    @Html.EditorFor(m => m.Manufacturer)
    @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger " })
    <br />
    <br />

    @Html.HiddenFor(m => m.ListingDate)
    @Html.ValidationMessageFor(m => m.ListingDate, "", new { @class = "text-danger " })
    <br />

    <label>Select category</label>
    @Html.DropDownListFor(m => m.CategoryId,
        new SelectList(Model.Categories, "Value", "Text"),
        "Select category", new { @class = "form-control" })
    @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger " })
    <br />

    @Html.HiddenFor(m => m.Approved)
    @Html.HiddenFor(m => m.UserId)
    @Html.HiddenFor(m => m.PicturePath)



    <button class="btn btn-sm btn-success" type="submit">Modify product</button>
}