﻿@{
	ViewBag.Title = "All products";
}

@if (TempData.ContainsKey("message"))
{
	<h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<div class="container">
	<br />

	<div class="row">

		<form class="form-inline search-form">
			<div class="col-sm-8 col-md-6 col-lg-6">
				<div class="input-group">
					<input type="text" class="form-control mr-sm-2" value=@TempData["search"] name="searchString">

					<span class="input-group-btn">
						<button type="submit" class="btn btn-outline-light">Search</button>
					</span>
				</div>

			</div>

			<div class="col-sm-2 col-md-3 col-lg-2">
				<span class="input-group-btn">
					@Html.ActionLink("Clear Filters", "Index", new { clearFilters = true }, new { @class = "btn btn-outline-light" })
				</span>
			</div>

			<div class="col-sm-2 col-md-3 col-lg-2">
				<div class="dropdown">
					<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
						Sorting Options
					</button>
					<div class="dropdown-menu dd-menu" aria-labelledby="dropdownMenuButton">
						@Html.ActionLink("Rating", "Index", new { sortOrder = "rating_asc" }, new { @class = "glyphicon glyphicon-arrow-up" }) <br />
						@Html.ActionLink("Rating", "Index", new { sortOrder = "rating_desc" }, new { @class = "glyphicon glyphicon-arrow-down" }) <br />
						@Html.ActionLink("Listing Date", "Index", new { sortOrder = "" }, new { @class = "glyphicon glyphicon-arrow-up" }) <br />
						@Html.ActionLink("Listing Date", "Index", new { sortOrder = "date_desc" }, new { @class = "glyphicon glyphicon-arrow-down" }) <br />
					</div>
				</div>
			</div>
		</form>
	</div> <!-- row -->

	<br /><br />

	<div class="row">
		<div class="col-lg-12">
			<div class="row">
				@foreach (GammaShop.Models.Product product in ViewBag.Products)
				{
					<div class="col-lg-4 col-md-4 mb-4">
						<div class="card card-product">
							<div class="img-wrap">
								<a href="/Product/Show/@product.Id">
									<img class="card-img-top" src="@Url.Content(product.PicturePath)" alt="">
								</a>
							</div>
							<div class="card-body info-wrap">
								<h4 class="card-title">
									<a href="/Product/Show/@product.Id">
										<p><h4>@product.Title</h4></p>
									</a>
								</h4>
								<h3>€@product.Price</h3>
								<div class="action-wrap">
									@using (Html.BeginForm(actionName: "Add", controllerName: "Invoice", method: FormMethod.Post, routeValues: new { id = @product.Id }))
									{
										<button type="submit" class="add_to_cart">
											<span class="glyphicon glyphicon-shopping-cart"></span>
											Add to cart
										</button>
									}
								</div>
							</div>
						</div>
					</div>
				}

			</div>
			<!-- /.row -->
		</div>
	</div>
</div>

<div>
	<nav aria-label="Page navigation">
		<ul class="pagination">
			<li>
				<a href="/Product/Index?page=1" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			@for (int i = 1; i <= ViewBag.lastPage; i++)
			{
				<li><a href="/Product/Index?page=@i">@(i)</a></li>
			}
			<li>
				<a href="/Product/Index?page=@(ViewBag.lastPage)" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
	@if (User.IsInRole("Collaborator") || User.IsInRole("Administrator"))
	{
		<div class="row">
			<div class="col-md-12">
				<a href="/Product/New/" class="btn btn-success">
					<span class="glyphicon glyphicon-plus"></span>
					Add Product
				</a>
			</div>
		</div>
	}
	<br />

	@if (User.IsInRole("Administrator"))
	{
		<div class="row">
			<div class="col-md-12">
				<a href="/Product/Pendings/" class="btn btn-success">
					<span class="glyphicon glyphicon-th-list"></span>
					See Pendings
				</a>
			</div>
		</div>
	}
</div>