﻿
@model GammaShop.Models.Product

@{
	ViewBag.Titlu = "Add product"; }

<h2>@ViewBag.Titlu</h2>
<br />

@using (Html.BeginForm("New", "Product", FormMethod.Post,
						new { enctype = "multipart/form-data" }))
{
	@Html.HiddenFor(m => m.UserId)

	@Html.ValidationSummary(false, "", new { @class = "text-danger" })

	<input type="file" name="Picture" required />
	<br /><br />

	@Html.Label("Title", "Title")
	<br />
	@Html.TextBox("Title", null, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger " })
	<br /><br />

	@Html.Label("Description", "Description")
	<br />
	@Html.TextArea("Description", null, new { @class = "form-control summernote" })
	@Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger " })
	<br /><br />

	@Html.Label("Price", "Price (€)")
	<br />
	@Html.TextBox("Price", null, new { @class = "form-control", type = "number", step = "1", min = 1,  max = "2000.00" })
	@Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger " })
	<br /><br />

	@Html.Label("Manufacturer", "Manufacturer")
	<br />
	@Html.TextBox("Manufacturer", null, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.Manufacturer, "", new { @class = "text-danger " })
	<br /><br />

	@Html.Hidden("ListingDate", DateTime.Now, new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.ListingDate, "", new { @class = "text-danger " })

	<label>Select category</label>
	@Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categories, "Value", "Text"),
	"Select category", new { @class = "form-control" })
	@Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "text-danger " })
	<br />

	<button class="btn btn-sm btn-success" type="submit">Add product</button>
}

