﻿@{
    ViewBag.Title = "Pending products";
}

@if (TempData.ContainsKey("message"))
{
    <h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

<div class="container">
    <br />

    <div class="row">

        <form class="form-inline search-form">
            <div class="col-sm-8 col-md-6 col-lg-6">
                <div class="input-group">
                    <input type="text" class="form-control mr-sm-2" value=@TempData["search"] name="searchString">

                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-outline-light">Search</button>
                    </span>
                </div>

            </div>

            <div class="col-sm-2 col-md-3 col-lg-2">
                <span class="input-group-btn">
                    @Html.ActionLink("Clear Filters", "Pendings", new { clearFilters = true }, new { @class = "btn btn-outline-light" })
                </span>
            </div>

            <div class="col-sm-2 col-md-3 col-lg-2">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                        Sorting Options
                    </button>
                    <div class="dropdown-menu dd-menu" aria-labelledby="dropdownMenuButton">
                        @Html.ActionLink("Rating", "Pendings", new { sortOrder = "rating_asc" }, new { @class = "glyphicon glyphicon-arrow-up" }) <br />
                        @Html.ActionLink("Rating", "Pendings", new { sortOrder = "rating_desc" }, new { @class = "glyphicon glyphicon-arrow-down" }) <br />
                        @Html.ActionLink("Listing Date", "Pendings", new { sortOrder = "" }, new { @class = "glyphicon glyphicon-arrow-up" }) <br />
                        @Html.ActionLink("Listing Date", "Pendings", new { sortOrder = "date_desc" }, new { @class = "glyphicon glyphicon-arrow-down" }) <br />
                    </div>
                </div>
            </div>
        </form>
    </div>

	<br /><br />

	<div class="row">

		<div class="col-lg-12">
			<div class="row">
				@foreach (GammaShop.Models.Product product in ViewBag.Products)
				{
					<div class="col-lg-4 col-md-4 mb-4">
						<div class="card card-product">
							<div class="img-wrap">
								<a href="/Product/Show/@product.Id">
									<img class="card-img-top" src="@Url.Content(product.PicturePath)" alt="">
								</a>
							</div>
							<div class="card-body info-wrap">
								<h4 class="card-title">
									<a href="/Product/Show/@product.Id">
										<p><h4>@product.Title</h4></p>
									</a>
								</h4>
								<h3>€@product.Price</h3>
								<div class="action-wrap">
									@using (Html.BeginForm(actionName: "Pendings", controllerName: "Product", method: FormMethod.Post, routeValues: new { id = @product.Id }))
									{
										@Html.HttpMethodOverride(HttpVerbs.Put)
										<button type="submit">
											<span class="glyphicon glyphicon-plus"></span>
											Approve Product
										</button>
									}
								</div>
							</div>
						</div>
					</div>
				}

			</div>
			<!-- /.row -->
		</div>

		@*@foreach (GammaShop.Models.Product product in ViewBag.Products)
		{
			<div class='product'>
				<div class='product_inner'>
					<img src="@Url.Content(product.PicturePath)">
					<a href="/Product/Show/@product.Id">
						<p><h4>@product.Title</h4></p>
					</a>
					<p>Price €@product.Price</p>

					@using (Html.BeginForm(actionName: "Pendings", controllerName: "Product", method: FormMethod.Post, routeValues: new { id = @product.Id }))
					{
						@Html.HttpMethodOverride(HttpVerbs.Put)
						<button type="submit">
							<span class="glyphicon glyphicon-plus"></span>
							Approve Product
						</button>
					}

				</div>
			</div>
		}*@
	</div>
</div>

