﻿
@model GammaShop.Models.Review

@{
	@section scripts {
		@Scripts.Render("~/Scripts/RatingScripts.js")
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://use.fontawesome.com/a2e210f715.js"></script>
	}
}

@if (TempData.ContainsKey("message"))
{
	<h3 class="alert alert-info" role="alert">@ViewBag.message</h3>
}

@Html.ValidationSummary(false, "", new { @class = "text-danger" })

<div class="container">
	<br />
	@if (ViewBag.product.UserId == ViewBag.currentUser || User.IsInRole("Administrator"))
	{
		<div class="row">
			<a href="/Product/Edit/@ViewBag.product.Id" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
		</div>
		<div class="row">
			@using (Html.BeginForm(actionName: "Delete", controllerName: "Product", method: FormMethod.Post, routeValues: new { id = @ViewBag.product.Id }))
			{
				@Html.HttpMethodOverride(HttpVerbs.Delete)
				<br />
				<button class="btn btn-sm btn-danger" type="submit">
					<span class="glyphicon glyphicon-trash"></span>
				</button>
			}
		</div>
		<br />
	}
	<div class="card">
		<div class="row">
			<aside class="col-sm-5 border-right">
				<article class="gallery-wrap">
					<div class="img-big-wrap">
						<img src="@Url.Content(ViewBag.product.PicturePath)">
					</div> <!-- slider-product.// -->
				</article> <!-- gallery-wrap .end// -->
			</aside>
			<aside class="col-sm-7">
                <article class="card-body p-5">
                    <h2 class="title mb-3" style="color: #2B2D42">@ViewBag.product.Title</h2>
                    <hr />

                    <p>@Html.Raw(ViewBag.product.Description)</p>

                    <p class="price-detail-wrap">
                        <span class="price h3 text-warning">
                            <span class="currency">€</span><span class="num">@ViewBag.product.Price</span>
                        </span>
                    </p> <!-- price-detail-wrap .// -->
                    <hr>
                    @using (Html.BeginForm(actionName: "Add", controllerName: "Invoice", method: FormMethod.Post, routeValues: new { id = ViewBag.product.Id}))
                    {
                        <div class="row">
                            <div class="col-sm-5">
                                <dl class="param param-inline">
                                    <dt>Quantity: </dt>
									<dd>
										@Html.TextBox("quantity", null, new { @class = "form-control form-control-sm", type = "number", step = "1", min = 1, max = "2000.00" })
									</dd>
                                </dl>  <!-- item-property .// -->
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr>

                        <button type="submit" class="add_to_cart">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Add to cart
                        </button>
                    }

                    @if (User.IsInRole("Administrator") && !ViewBag.product.Approved)
                    {
                        using (Html.BeginForm(actionName: "Pendings", controllerName: "Product", method: FormMethod.Post, routeValues: new { id = ViewBag.product.Id }))
                        {
                            @Html.HttpMethodOverride(HttpVerbs.Put)
                            <button type="submit">
                                <span class="glyphicon glyphicon-plus"></span>
                                Approve Product
                            </button>
                        }
                    }
                </article> <!-- card-body.// -->
			</aside> <!-- col.// -->
		</div> <!-- row.// -->
	</div> <!-- card.// -->

</div>
<!--container.//-->

<div class="container">

	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<h2>Reviews</h2>
			</div>

			<div class="row">
				<div class="col-sm-3">
					<div class="rating-block">
						<h4>Average user rating</h4>
						<h2 class="bold padding-bottom-7">@ViewBag.product.Rating <small>/ 5</small></h2>
						@for (int i = 0; i < (int)ViewBag.product.Rating; i++)
						{
							<span class="fa fa-star checked"></span>
						}
						@for (int i = (int)System.Math.Round(ViewBag.product.Rating); i < 5; i++)
						{
							<span class="fa fa-star"></span>
						}
					</div>
				</div>
                <div class="col-sm-3">
                    <h4>Rating breakdown</h4>

                    @for (int i = 0; i < 5; i++)
                    {
                        <div class="pull-left">
                            <div class="pull-left" style="width:35px; line-height:1;">
                                <div style="height:9px; margin:5px 0;">@(i + 1) <span class="glyphicon glyphicon-star"></span></div>
                            </div>
                            <div class="pull-left" style="width:180px;">
                                <div class="progress" style="height:9px; margin:8px 0;">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: @(((float [])@ViewData["procentRating"])[i])%">
                                        <span class="sr-only">80% Complete (danger)</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pull-right" style="margin-left:10px;">@(((int[])@ViewData["numberEachRating"])[i])</div>
                        </div>
                    }
                </div>
			</div>

			@using (Html.BeginForm(actionName: "SendReview", controllerName: "Review", method: FormMethod.Post))
			{
				if (User.IsInRole("Administrator") || User.IsInRole("Collaborator") || User.IsInRole("RegisteredUser"))
				{
					<div class="container">
						<div class="row">
							<div class="row">
								@Html.Label("Rating", "Rating: ")
							</div>
							<div class="row">
								<div class="rating_widgets">
									<fieldset class="rating">
										<input type="radio" id="star5" name="Rating" value="5" />
										<label class="full" for="star5" title="Awesome - 5 stars"></label>
										<input type="radio" id="star4" name="Rating" value="4" />
										<label class="full" for="star4" title="Pretty good - 4 stars"></label>
										<input type="radio" id="star3" name="Rating" value="3" />
										<label class="full" for="star3" title="Good - 3 stars"></label>
										<input type="radio" id="star2" name="Rating" value="2" />
										<label class="full" for="star2" title="ok - 2 stars"></label>
										<input type="radio" id="star1" name="Rating" value="1" />
										<label class="full" for="star1" title="Very bad - 1 star"></label>
										@Html.ValidationMessageFor(m => m.Rating, "", new { @class = "text-danger " })
									</fieldset>
								</div>
							</div>
						</div>
						<br />
						<div class="row">
							<div class="row">
								@Html.Label("Comment", "Review: ")
							</div>
							<div class="row">
								@Html.TextArea("Comment", null, new { @class = "form-control" })
								@Html.ValidationMessageFor(m => m.Comment, "", new { @class = "text-danger " })
							</div>
						</div>
						<br />
						<div class="row">
							<div class="row">
								@Html.Label("Title", "Title: (Optional)")
							</div>
							<div class="row">
								@Html.TextBox("Title", null, new { @class = "form-control" })
							</div>
						</div>
						<br />
						@Html.Hidden("ListingDate", DateTime.Now, new { @class = "form-control" })
						@Html.HiddenFor(m => m.AuthorId, new { @class = "form-control" })
						@Html.HiddenFor(m => m.ProductId, new { @class = "form-control" })
						<button class="send-review-button" type="submit">Send review</button>
					</div>
				}
			}
		</div>
	</div>

	@if (ViewBag.product.Reviews.Count > 0)
	{
		<div class="row">
			<div class="col-sm-7">
				<hr />
				<div class="review-block">
					@foreach (GammaShop.Models.Review review in @ViewBag.product.Reviews)
					{
						<div class="row">
							<div class="col-sm-4">
								<div class="review-user-image"><img src="@Url.Content("~/Content/Images/user_icon.png")" style="width: 30%; display: block; margin: auto"></div>
								<div class="review-block-name">@review.Author.UserName</div>
								<div class="review-block-date">@review.ListingDate</div>
							</div>
							<div class="col-sm-6">
								<div class="review-block-rate">
									@for (int i = 0; i < (int)review.Rating; i++)
									{
										<span class="fa fa-star checked"></span>
									}
									@for (int i = (int)review.Rating; i < 5; i++)
									{
										<span class="fa fa-star"></span>
									}
								</div>
								<div class="review-block-title">@review.Title</div>
								<div class="review-block-description">@review.Comment</div>
							</div>
							<div class="col-sm-2">
								@if (review.AuthorId == ViewBag.currentUser || User.IsInRole("Administrator"))
								{
									<a href="/Review/Edit/@review.Id" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span></a>
									using (Html.BeginForm(actionName: "Delete", controllerName: "Review", method: FormMethod.Post, routeValues: new { id = review.Id }))
									{
										@Html.HttpMethodOverride(HttpVerbs.Delete)
										<br />
										<button class="btn btn-danger" type="submit">
											<span class="glyphicon glyphicon-trash"></span>
										</button>
									}
								}
							</div>
						</div>
						<hr />
					}
				</div>
			</div>
		</div>
	}

</div>
